<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>quickPrac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D57BF35F21575CC000DD1D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D57BF37321575CC200DD1D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D57BF37E21575CC200DD1D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
